<!--This model does not matters here because it is not using anything from a c# model, just Ajax calls for the datatable-->
@model Portal.Common.ViewModels.SpecialtyCrosswalkViewModel
@using Portal.Common.Enums

    <div id="SpecialtyLanguageList" class="row">
            <!--begin::Portlet-->
                <div class="kt-portlet__body">
                        <div class="row">
                            <div class="col-xl-12">
                                <table class="table table-striped gy-5 gs-7" id="dtSpecialtyLanguage">
                                    <thead>
                                        <tr class="text-start text-gray-400 fw-bolder fs-7 text-uppercase">
                                            <th class=""> </th>
                                            <th class="min-w-100px pe-5">Language</th>
                                            <th class="min-w-100px pe-5">LoB</th>
                                            <th class="min-w-100px pe-5">Company</th>
                                            <th class="min-w-100px pe-5">Start</th>
                                            <th class="min-w-100px pe-5">End</th>
                                            <th class="min-w-100px pe-5">Display Name</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                </div>
            <!--end::Portlet-->
    </div>
